{% extends "layout.html" %}
{% block content %}
<main class="support">
    <p>設問１．この授業は、「授業のねらい、到達目標、進め方、使用する教科書・参考書、成績評価方法」について、資料などを用いて説明が適切に行われましたか？</p>
    <p>【回答】5：適切であった 4：ほぼ適切であった 3：どちらとも言えない 2：あまり適切でなかった 1：まったくなかった</p>
    <p>設問２．この授業は、シラバス記載内容（途中の変更含む）に沿って進みましたか？</p>
    <p>【回答】5：進んだ 4：ほぼ進んだ 3：どちらとも言えない 2：あまり進まなかった 1：まったく進まなかった</p>
    <p>設問３．この授業は、学生の理解度を配慮しながら進められましたか？</p>
    <p>【回答】5：強くそう思う 4：ややそう思う 3：どちらとも言えない 2：あまりそう思わない 1：まったくそう思わない</p>
    <p>設問４．この授業は、教員の話し方は明瞭で、わかりやすかったですか？また、教材提示型授業の場合、説明資料はわかりやすかったですか？</p>
    <p>【回答】5：強くそう思う 4：ややそう思う 3：どちらとも言えない 2：あまりそう思わない 1：まったくそう思わない</p>
    <p>設問５．この授業は、黒板の使い方、文字の大きさ・見やすさ、映像資料の図や文字の見やすさ、は適切でしたか？</p>
    <p>【回答】5：適切であった 4：ほぼ適切であった 3：どちらとも言えない 2：あまり適切ではなかった 1：まったく適切ではなかった</p>
    <p>設問６．この授業の進行度は、内容を理解し到達目標を達成するのに適切でしたか？</p>
    <p>【回答】5：適切であった 4：ほぼ適切であった 3：どちらとも言えない 2：あまり適切ではなかった 1：まったく適切ではなかった</p>
    <p>設問７．あなたは現時点で、この授業の到達目標をどの程度達成できたと思いますか？</p>
    <p>【回答】5：100％～90％ 4：90％未満～80％ 3：80％未満～70％ 2：70％未満～60％ 1：60％未満</p>
    <p>設問８．この授業１回あたり平均して、予習・復習・レポート作成・課題作成（準備）に何時間かけましたか？</p>
    <p>【回答】5：3時間以上 4：2時間台 3：1時間台 2：30分～1時間 1：30分未満</p>
    <p>設問９．総合的に考えて、この授業を受講してよかったと思いますか？</p>
    <p>【回答】5：強くそう思う 4：ややそう思う 3：どちらとも言えない 2：あまりそう思わない 1：まったくそう思わない</p>
</main>
{% endblock %}